/* Write your global styles here, in PostCSS syntax */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
/* body {
	@apply bg-surface-50-900-token;
} */
html,
body {
	@apply h-full overflow-hidden;
}
