/* Import Tailwind CSS */
@import "tailwindcss";

/* Import Skeleton UI 3 theme */
@import "@skeletonlabs/skeleton/styles/all.css";

/* Tailwind CSS 4 Configuration */
@config "./tailwind.config.js";

/* Write your global styles here, in PostCSS syntax */
/* body {
	@apply bg-surface-50-900-token;
} */
html,
body {
	@apply h-full overflow-hidden;
}
